*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    text-align: center;
}

h1{
    padding: 100px;
    font-size: 50px;
}

h2{
    padding: 50px;
}

a{
    text-decoration: none;
    color: purple;
}
a:hover{
    zoom: 1.1;
    color: rgb(225, 13, 225);
}