*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    text-align: center;
}

.container{
    height: 75vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid salmon; */
}

.head{
    margin: 30px 0;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0;
}

.btn{
    height: 18vmin;
    width: 18vmin;  
    font-size: 50px;  
    border-radius: 0;
    background-color: rgb(3, 165, 146);
    border: 2px solid purple;
}

.btn:hover{
    background-color: rgb(2, 148, 131);
}


.btn:disabled{
    opacity: 1;
    background-color: rgb(3, 165, 146);
    color: black;
    border: 2px solid purple;
}


.winnerprint{
    margin-top: 20px;
    height: 15vmin;
    width: 50vmin;
    font-size: 25px;
}


.l{
    border-left: none;
}

.r{
    border-right: none;
}

.t{
    border-top: none;
}

.b{
    border-bottom: none;
}

.l:disabled{
    border-left: none;
}

.r:disabled{
    border-right: none;
}

.t:disabled{
    border-top: none;
}

.b:disabled{
    border-bottom: none;
}